* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;

}

/* Mi occupo del header prima */

header {
  width: 100%;
  height: 500px;
  background-color: blue;
}

.upperhead::after {
  content: "";
  display: table;
  clear: both;
}

.upperhead {
  width: 100%;
  height: 50px;
}

.upper {
  float: left;
}

.left {
  margin-left: 20%;
}

.upperhead h1, .upperhead ul {
  float: left;
}

.upperhead h1, .upperhead li {
  display: inline-block;
}

.upperhead li {
  top: 25px;

}

/* Stabilisco temporaneamente dei aggiustamenti visivi */

#first, #second, #third, #fourth, footer {
  width: 100%;
}

.firstel {
  height: 150px;
  background-color: gray;
}

.secondel, .thirdel {
  height: 500px;
  background-color: yellow;
}

.firstelm {
  height: 150px;
  background-color: gray;
}

.secondelm {
  height: 400px;
  background-color: blue;
}

.firstelem {
  width: 100%;
  height: 500px;
  background-color: pink;
}

.firstelement {
  height: 450px;
  background-color: blue;
}

.secondelement {
  height: 450px;
  background-color: purple;
}

.sup {
  height: 150px;
  background-color: blue;
}

.inf {
  height: 450px;
  background-color: red;
}



























































#chat {
  position: fixed;
  top: 90%;
  left: 90%;
}
